/* list of persons */
.userphoto, .userpic{
	border-radius:25px;
	width:50px;
	height:50px;
	float:left;
	margin-right:15px;
	cursor:pointer;
}
.userpic{
	background-color:#1a73c7;
  	color:#fff;
  	text-align:center;
	line-height:53px;
	font-size:31px;
}
.username{
	color:#313131;
	font-weight:500;
	line-height:26px;
}
.money{
	color:#475466;
	display:block;
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
	padding:10px;
	line-height:20px;
}
/* toolbar buttons */
.logo{
	background:url(webix.svg) 12px 4px no-repeat;
}
.toolbar_button button{
	padding:0;
	text-align:center;
}
.toolbar_button.close button{
	background-color:rgba(255, 91, 76, 0.671);
}
.toolbar_button.close button:hover{
	background-color:rgba(255, 91, 76, 0.548);
}
.webix_el_label.main_label{
	line-height:44px;
}
/* grid */
.complete{
	color:#1CA1C1;
	cursor:pointer;
}
.incomplete{
	color:#FF5C4C;
	cursor:pointer;
}
.tag{
	border-radius:20px;
	border: 2px solid rgba(0, 0, 0, 0);
	font-size:12px;
	color:#fff;
}
.support{
	background-color:#8664C6;
}
.compuhope{
	background-color:#1CC123;
}
.autocat{
	background-color:#FFC107;
}
.cubebeat{
	background-color:rgb(153, 51, 102);
}
/* headers (templates) */
.webix_header{
	text-align: center;
}
/* notifications */
.notifications .webix_list_item{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight: 500;
}
.notifications .webix_list_item .message{
	display:block;
	color:#94A1B3;
}
.link{
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}
.unread{
	color:#FF5C4C;
}
